body {
    overflow-x: hidden;

    background:
        linear-gradient(
          to bottom,
          hsl(0, 0%, 11%) 95%,
          hsl(0, 0%, 12%) 8.1%,
          hsl(0, 0%, 13%) 15.5%,
          hsl(0, 0%, 14%) 22.5%,
          hsl(0, 0%, 15%) 29%,
          hsl(0, 0%, 16%) 35.3%,
          hsl(0, 0%, 18%) 41.2%,
          hsl(0, 0%, 19%) 47.1%,
          hsl(0, 0%, 19%) 52.9%,
          hsl(0, 0%, 18%) 58.8%,
          hsl(0, 0%, 16%) 64.7%,
          hsl(0, 0%, 15%) 71%,
          hsl(0, 0%, 14%) 77.5%,
          hsl(0, 0%, 13%) 84.5%,
          hsl(0, 0%, 12%) 91.9%,
          hsl(0, 0%, 11%) 95%
        );
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #ece0e0
}
hr{
    margin: 0;
    width: 110vw;
    margin-left: -1vw;
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none; 
    color: #ece0e0;
}
.Container{
    display: grid;
    margin: 0;
    padding:0;

    /* H1 is the header G1 is the first game I1 is the image for the first game A1 is the first of any ads and F1 is the footer */

    grid-template-areas: 
    "H1 H1 H1 H1 H1 H1"

    "L1 L1 L1 L1 L1 L1"

    "I1 I1 G1 G1 G1 G1"
    "I1 I1 G1 G1 G1 G1"

    "L2 L2 L2 L2 L2 L2"

    "A1 A1 A1 A1 A1 A1"
    "A1 A1 A1 A1 A1 A1"

    "L3 L3 L3 L3 L3 L3"

    "G2 G2 G2 G2 G2 G2"   
    "G2 G2 G2 G2 G2 G2"
    
    "L4 L4 L4 L4 L4 L4"

    "F1 F1 F1 F1 F1 F1"
    ;

    height: 100vh;
}
.MiniContainer{
    height: 15vh;
    width: 98vw;

    justify-self: left;
    text-align: left;

    padding: 0.75rem;
    margin: 0;
    padding-top: 9vh;
    padding-bottom: 9vh;

    transition: scale 0.3s;
}
.MiniContainer:hover{
    scale: 1.009;
}
.MiniContainer:active{
    scale: 0.999;
}
.GameImage{
    transition: scale 0.3s;
    align-self:center;
    img{
        border: 0.2rem double #ece0e0 ;
        height: 25vh;
        width: auto;
    }
}
#Heading{
    grid-area: H1;

    word-spacing: 43vw;
}
#HomeButton{
    text-align: left;
}
#HeaderLine{
    grid-area: L1;
}
#IM1{
    grid-area: I1;
    justify-self: center;
}
#IM1:hover{
    scale: 1.07;
}
#IM1:active{
    scale: 0.95;
}
#MC1{
    grid-area: G1;

    text-align: left;
}
#GameLine1{
    grid-area: L2;
}
#AD1{
    grid-area: A1;
    border-bottom: 0;
}
#GameLine2{
    grid-area: L3;
}
#MC2{
    grid-area: G2;
}
#GameLine3{
    grid-area: L4;
}
