body {
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
    color: rgb(236, 224, 224);
    font-size: 2vh;

    --ColorStart: rgb(20, 20, 20);         /* Start Color */
    --ColorMiddle1: rgb(26, 26, 26);       /* Middle Color 1 */
    --ColorMiddle2: rgb(30, 30, 30);       /* Middle Color 2 */
    --ColorMiddle3: rgb(36, 36, 36);       /* Middle Color 3 */
    --ColorMiddle4: rgb(41, 41, 41);       /* Middle Color 4 */
    --ColorEnd: rgb(46, 46, 46);           /* End Color */

    background: linear-gradient(
        -45deg,
        var(--ColorStart) 0%,
        var(--ColorMiddle1) 20%,
        var(--ColorMiddle2) 40%,
        var(--ColorMiddle3) 60%,
        var(--ColorMiddle4) 80%,
        var(--ColorEnd) 100%
    );
    background-size: 200%; 
    background-repeat: no-repeat;
    background-attachment: fixed;

    animation: GradientAnimation 15s ease-in-out infinite;
}

@keyframes GradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none; 
    color: rgb(236, 224, 224);
}

/* Not Currently In Use*/
.Container {
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
    grid-template-areas: 
        "H1 H1 H1 H1 H1 H1"
        "L1 L1 L1 L1 L1 L1"
        "I1 I1 G1 G1 G1 G1"
        "I1 I1 G1 G1 G1 G1"
        "L2 L2 L2 L2 L2 L2"
        "A1 A1 A1 A1 A1 A1"
        "A1 A1 A1 A1 A1 A1"
        "L3 L3 L3 L3 L3 L3"
        "G2 G2 G2 G2 G2 G2"   
        "G2 G2 G2 G2 G2 G2"
        "L4 L4 L4 L4 L4 L4";
}
hr {
    margin: 0;
    width: 100%;
    margin-left: 0;
}
.LargeContainer{
    display: flex;
}
.MiniContainer{
    justify-self: left;
    text-align: left;

    padding: 0.75rem;
    margin: 0;
    padding-top: 9vh;
    padding-bottom: 9vh;

    transition: scale 0.3s;
}
.MiniContainer:hover{
    scale: 1.009;      
}
.MiniContainer:active{
    scale: 0.999;
}
.GameImage{
    transition: scale 0.3s;
    align-self:center;

    padding-top: 2vh;
    padding-bottom: 2vh;

}
.GameImage img {
    border: 0.2rem double #ece0e0;
    height: 25vh;
    width: auto;
}
#Heading{
    grid-area: H1;

    margin-left: 2vw;
    margin-right: 2vw;

    word-spacing: 39vw;
}
#HomeButton{
    text-align: left;
}
#HeaderLine{
    grid-area: L1;
}
#IM1{
    grid-area: I1;
    justify-self: center;
}
#IM1:hover, #IM2:hover{
    scale: 1.07;
}
#IM1:active, #IM2:active{
    scale: 0.95;
}
#MC1{
    grid-area: G1;
}
#GameLine1{
    grid-area: L2;
}
#AD1{
    grid-area: A1;
}
#GameLine2{
    grid-area: L3;
}
#MC2{
    grid-area: G2;
}
#GameLine3{
    grid-area: L4;
}
